// 字体类型
$vp-font: '"Fira Code", "方正兰亭圆简体", "OPPOSans Regular", "Microsoft Yahei", Georgia, -apple-system, "Nimbus Roman No9 L", "Hiragino Sans GB", "Noto Serif SC", "WenQuanYi Micro Hei", "ST Heiti", sans-serif';
$vp-font-heading: '"Fira Code", "方正兰亭圆简体", "OPPOSans Regular", "Microsoft Yahei",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", STHeiti, SimSun, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'; 
$vp-font-mono: '"Fira Code", "方正兰亭圆简体", "OPPOSans Regular", "Microsoft Yahei", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace';

